<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VideoClub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>videoclub.ui.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>videoclub.ui.ConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ReservaServlet</display-name>
    <servlet-name>ReservaServlet</servlet-name>
    <servlet-class>videoclub.ui.ReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservaServlet</servlet-name>
    <url-pattern>/ReservaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ModificarDatosServlet</display-name>
    <servlet-name>ModificarDatosServlet</servlet-name>
    <servlet-class>videoclub.ui.ModificarDatosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarDatosServlet</servlet-name>
    <url-pattern>/ModificarDatosServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>CerrarReservaServlet</display-name>
    <servlet-name>CerrarReservaServlet</servlet-name>
    <servlet-class>videoclub.ui.CerrarReservaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarReservaServlet</servlet-name>
    <url-pattern>/CerrarReservaServlet</url-pattern>
  </servlet-mapping> 

  <servlet>
    <description></description>
    <display-name>VolverServlet</display-name>
    <servlet-name>VolverServlet</servlet-name>
    <servlet-class>videoclub.ui.VolverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolverServlet</servlet-name>
    <url-pattern>/VolverServlet</url-pattern>
  </servlet-mapping>   
  
  <servlet>
    <description></description>
    <display-name>VerReservasServlet</display-name>
    <servlet-name>VerReservasServlet</servlet-name>
    <servlet-class>videoclub.ui.VerReservasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerReservasServlet</servlet-name>
    <url-pattern>/VerReservasServlet</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <description></description>
    <display-name>NvoUsuServlet</display-name>
    <servlet-name>NvoUsuServlet</servlet-name>
    <servlet-class>videoclub.ui.NvoUsuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NvoUsuServlet</servlet-name>
    <url-pattern>/NvoUsuServlet</url-pattern>
  </servlet-mapping>
                  <servlet>
              <display-name>DWR Servlet</display-name>
              <servlet-name>dwr-invoker</servlet-name>  
              <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
              <init-param>
                 <param-name>debug</param-name>
                 <param-value>true</param-value>
              </init-param>
            </servlet>

            <servlet-mapping>
              <servlet-name>dwr-invoker</servlet-name>
              <url-pattern>/dwr/*</url-pattern>
            </servlet-mapping>


</web-app>